html {
    scroll-behavior: smooth;
}
body {
     height:1000px;
}
 #top{
}
 #middle {
     margin-top:500px;
}
 #btn {
     position: fixed;
     bottom: 10px;
     right: 10px;
     z-index: 99;
     font-size: 15px;
     border: none;
     outline: none;
     background-color: gray;
     color: darkgray;
     cursor: pointer;
     padding: 15px;
     border-radius: 4px;
}
 #btn:hover {
     background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div {
  word-wrap: break-word;
}